<div class="welcome-section">
  <h1 class="welcome-title">Вітаємо у сервісі підтримки ВПО!</h1>

  <div class="roles-container">
    <div class="role-card">
      <img src="/assets/images/doctors.jpg" alt="Лікарі" class="role-image" />
      <div class="role-label" [routerLink]="['/doctors']">Лікарі</div>
    </div>

    <div class="role-card">
      <img src="/assets/images/lawyers.jpg" alt="Юристи" class="role-image" />
      <div class="role-label" [routerLink]="['/jurists']">Юристи</div>
    </div>
  </div>

  <div class="welcome-description">
    <p>
      Ми створили цей додаток, щоб надати вам швидку та зручну консультаційну допомогу.
      Тут ви знайдете відповіді на важливі питання, корисні ресурси та підтримку, коли вона найбільше потрібна.
      <br><br>
      Ми поруч – крок за кроком до нової стабільності.
    </p>
  </div>
</div>
