<div class="appointment-card">
  <div class="appointment-card-left">
    <div class="subtitle2">{{ appointment?.appointment?.date }} {{ appointment?.appointment?.start }}</div>
    <div class="button-light">{{ appointment?.appointment?.type }}</div>

  </div>
  <div class="appointment-card-middle">
    <div class="appointment-card-row">
      <div>{{ appointment?.customer?.last_name }}</div>
      <div>{{ appointment?.customer?.first_name }}</div>
      <div class="subtitle">({{ appointment?.customer?.birthday_date }}, {{ appointment?.customer?.gender }})</div>
    </div>
    <div class="appointment-card-row subtitle">{{ appointment?.appointment?.description }}</div>
  </div>
  <div class="appointment-card-mright">
    <div class="subtitle2">
      {{ getPrimaryContact(appointment?.contacts, 'PHONE_NUMBER') }}
    </div>
    <div class="subtitle">
      {{ getPrimaryContact(appointment?.contacts, 'EMAIL') }}
    </div>
  </div>
  <div class="appointment-card-right">
    <div *ngIf="(!isFinished() && !isCanceled())" class="button-dark" (click)="deleteAppointment(appointment)">Скасувати запис</div>
    <div *ngIf="(!isFinished() && !isCanceled())" class="button-dark" (click)="closeAppointment(appointment)">Завершити запис</div>
    <div *ngIf="isFinished()" class="button-light cursor-default">Запис завершено</div>
    <div *ngIf="isCanceled()" class="button-light cursor-default">Запис скасовано</div>
  </div>
</div>





