<div class="wrapper">
  <h2>Відновлення паролю</h2>
  <div *ngIf="!emailFormSubmittedSuccess">
    <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit()">
      <div class="floating-label">
        <input formControlName="email" type="email" placeholder=" " />
        <label>Електронна пошта</label>

        <!-- Клієнтська помилка -->
        <div class="error" *ngIf="emailFormSubmitted && emailForm.get('email')?.invalid">
          Введіть коректний email
        </div>

        <!-- Помилка від сервера -->
        <div class="error" *ngIf="errorMessages['email']">
          {{ errorMessages['email'] }}
        </div>
      </div>

      <button type="submit" class="button-dark">Надіслати код</button>
    </form>
  </div>

  <div *ngIf="emailFormSubmittedSuccess">
    <form [formGroup]="codeForm" (ngSubmit)="onCodeFormSubmit()"  class="confirmation">
      <div>На вашу електронну адресу надіслано лист із підтвердженням. </div>
      <div>Будь ласка, перевірте поштову скриньку, щоб завершити реєстрацію.</div>

      <div class="floating-label">
        <input class="code-input" formControlName="code" placeholder=" " />
        <label>Код підтвердження</label>
        <div class="error" *ngIf="codeFormSubmitted && codeForm.get('code')?.invalid">
          Введіть код, що надійшов Вам у електронному листі
        </div>
        <!-- Помилка від сервера -->
        <div class="error" *ngIf="errorMessages['code']">
          <div>{{ errorMessages['code'] }}</div>
          <button type="button" (click)="newCodeRequest()" class="button-red">Повторно відправити код</button>
        </div>
      </div>

      <div class="floating-label">
        <input formControlName="password" type="password" placeholder=" " />
        <label>Новый пароль</label>
        <div class="error" *ngIf="codeFormSubmitted && codeForm.get('password')?.invalid">
          Введіть новый пароль
        </div>
        <!-- Помилка від сервера -->
        <div class="error" *ngIf="errorMessages['password']">
          {{ errorMessages['password'] }}
        </div>
      </div>

      <button type="submit" class="button-dark">Увійти</button>
    </form>
  </div>




</div>
